<HTML>
  <HEAD>
    <TITLE>San Francisco Film Locations</TITLE>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/filmlocations.css"/>
    <script type="text/javascript" src="/static/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/static/js/lib/underscore.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyJXI3QPIfA3oFKWo0jIBSh1oSfwNAi0w&sensor=false">
    </script>
   <script type="text/javascript" src="/static/js/filmlocations.js"></script>
  </HEAD>
  <BODY>
  <div id="maps-app">
    <div id="map-canvas"></div>
  </div>
  </BODY>
</HTML>